.env
.phpunit.result.cache
laravel.log
laravel.err.log
vendor/
node_modules/
public/build/
public/hot
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
